{{> head}}


{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Sobre mi Web</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur dolorem similique iste fugit temporibus
            optio itaque magni ipsa ipsam repudiandae sed qui nemo nesciunt tempore asperiores eum hic, id incidunt.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/me.jpg" class="img-thumbnail">
    </div>

</div>


{{> foot}}